@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

Routes {
  flex: 1;
}

footer {
  margin-top: auto; 
  background: #2d2d44;
  color: #fff;
  padding: 40px 80px;
}


.navigation-wrap {
  background-color: #2B2B2B;
  height: 100px;
  width: 100%;
 
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h1 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 50px;
}
nav a {
  padding: 20px;
  color: white;
  font-family: work sans;
  font-weight: 600;
}

.btn-sign {
  display: inline-flex;
  align-items: center;
  gap: 8px; 
  padding: 10px 20px;
  background: #A259FF;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  text-decoration: none; 
  transition: 0.3s;
}

.btn-sign:hover {
  background: #A259FF;
  transform: scale(1.05);
}

.btn-sign .icon {
  width: 20px;
  height: 20px;
}


footer {
  z-index: 20;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 40px 145px;
  background-color: #3B3B3B;
}

footer div h1 {
  font-family: Space Mono;
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 160%;

}
footer div p {
  color: #CCCCCC;
  font-family: work sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 20px;
}
.social img {
  padding: 10px 0px 10px 10px
}
.footer-logo {
  display: flex;
  gap: 10px;
}

.subscribe-wrapper {
  position: relative;
  width: 350px; /* або 100% */
  margin-top: 20px;
}

.subscribe-wrapper input {
  width: 100%;
  padding: 14px 40px 14px 16px; /* справа робимо відступ під кнопку */
  border-radius: 20px;
  border: none;
  outline: none;
  background: #2d2d44;
  color: white;
  font-size: 14px;
}

.subscribe-wrapper button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  background: #a259ff;
  color: #fff;
  border: none;
  border-radius: 16px;
  padding: 0 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.subscribe-wrapper button:hover {
  background: #8235e6;
}
